@import 'bourbon';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $helvetica;
    overflow: hidden;
    div#map {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
    }
    div#timeline {
        position: absolute;
        bottom: 0;
        height: 200px;
        width: 100%;
        background-color: black;
        .axis path, .axis line {
            fill: none;
            stroke: rgb(53, 108, 190);
            stroke-width: 2;
            shape-rendering: crispEdges;
            &.minor {
                stroke-width: 1;
            }
        }
        .tick line {
            color: rgb(53, 108, 190);
        }
        .tick text {
            fill: rgba(53, 108, 190, 1);
            stroke: rgba(53, 108, 190, 0.6);
        }
        rect.marker, circle.marker {
            fill: rgba(70, 224, 181, 0.7);
            stroke: rgba(70, 224, 181, 0.7);
        }
    }
}
