@import 'bourbon';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic);

$frameBorder: #222;

$timelineHeight: 340px;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', $helvetica;
    overflow: hidden;
    div#map-container {
        position: absolute;
        top: 30px;
        left: 10px;
        right: 10px;
        bottom: $timelineHeight;
        border: 2px solid $frameBorder;
        border-width: 2px 0 0 2px;
        &.shrink {
            right: 310px;
        }
        h1.title {
            background-color: transparent;
            position: absolute;
            top: -22px;
            font-size: 0.9em;
        }
        div#map-controls {
            position: absolute;
            top: 0;
            left: 0;
            ul {
                list-style: none;
                margin: 5px;
                li {
                    cursor: pointer;
                }
            }
        }
        div#map {
            width: 100%;
            height: 100%;
            &.rectzoom {
                cursor: crosshair;
            }
            div.mapboxgl-popup {
                width: 60px;
                margin-top: -86px;
                margin-left: 4px;
                position: absolute;
                cursor: pointer;
                div.icon {
                    height: 52px;
                    width: 52px;
                    background-color: #19d1e7;
                    border-radius: 50%;
                    padding-left: 2px;
                    padding-top: 2px;
                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                    }
                }
                div.connector {
                    width: 1px;
                    background-color: #19d1e7;
                    height: 10px;
                    position: absolute;
                    top: 52px;
                    left: 26px;
                }
                div.dot {
                    width: 9px;
                    height: 9px;
                    background-color: #19d1e7;
                    border-radius: 50%;
                    position: absolute;
                    top: 59px;
                    left: 22px;
                }
            }
        }
    }
    div#timeline {
        position: absolute;
        bottom: 0;
        height: $timelineHeight;
        width: 100%;
        background-color: white;
        box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.09);
        z-index: 10;
        .axis path, .axis line {
            fill: none;
            stroke: #a2b3b7;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }
        .tick line {
            color: #a2b3b7;
        }
        .tick text {
            fill: rgba(162, 179, 183, 1);
            stroke: rgba(162, 179, 183, 0.6);
            font-size: 0.8em;
        }
        rect.marker, circle.marker {
            fill: rgba(209, 209, 209, 0.7);
            stroke: rgba(209, 209, 209, 0.7);
            cursor: pointer;
            &.active {
                fill: rgba(45, 198, 224, 0.7);
                stroke: rgba(45, 198, 224, 0.7);
            }
        }
        line.marker {
            stroke: #2dc6e0;
            stroke-width: 1;
            &.inactive {
                display: none;
            }
        }
        div.annotation {
            position: absolute;
            top: -22px;
            line-height: 20px;
            z-index: 100;
            span.text {
                color: #ffffff;
                padding: 1px 5px;
                font-size: 0.8em;
                margin-left: -50%;
                background-color: #2dc6e0;
                white-space: nowrap;
            }
            &.inactive {
                display: none;
            }
        }
        div#filter {
            height: 40px;
            padding: 7px;
            background-color: #e1e9ed;
            div.Select-value {
                background-color: #ffb400;
                border-radius: 5px;
                color: #fff;
            }
        }
        div#metadata {
            div.project {
                height: 200px;
                overflow-y: scroll;
                div.titles {
                    width: 20%;
                    float: left;
                    padding: 10px;
                    h2 {
                        font-size: 1.4em;
                        margin-bottom: 10px;
                    }
                    h3 {
                        font-size: 1em;
                        color: #d4d4d4;
                    }
                }
                div.description {
                    width: 40%;
                    float: left;
                    padding: 10px;
                }
                div.image {
                    height: 214px;
                    float: left;
                    padding: 10px;
                }
            }
        }
    }
    div#sidepane {
        div#sidepaneButton {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            position: absolute;
            top: 30px;
            right: 20px;
            background: white;
            line-height: 42px;
            text-align: center;
            font-weight: bold;
            font-size: 1.9em;
            cursor: pointer;
        }
        div#eventpane, div#eventspane {
            position: absolute;
            top: 10px;
            right: 5px;
            border: 2px solid $frameBorder;
            border-width: 2px 2px 0 0;
            background: #ffffff;
            width: 320px;
            bottom: $timelineHeight;
            overflow-y: scroll;
            box-shadow: -2px 2px 4px #EEF3F6;
            &.closed {
                display: none;
            }
            span.media-dots {
                span.media-dot {
                    margin-left: 10px;
                    cursor: pointer;
                    &.selected {

                    }
                }
            }
            span.close {
                float: right;
                background-color: black;
                color: white;
                font-size: 1em;
                padding: 2px 7px;
                border-radius: 50%;
                font-weight: bold;
                margin: 4px;
                cursor: pointer;
            }
            img.head {
                width: 100%;
                height: 214px;
                &.magnify {
                    cursor: zoom-in;
                }
            }
            div.youtube-cover {
                cursor: zoom-in;
                img.youtube-thumb {
                    width: 100%;
                    height: 214px;
                }
                img.youtube-play {
                    position: absolute;
                    left: 0px;
                    width: 100%;
                    height: 214px;
                }
            }
            div.content {
                padding: 25px;
                h3.project {
                    color: #ADBEC7;
                    font-size: 14px;
                }
                h2.title {
                    font-size: 20px;
                }
                div.place {

                }
                div.date {
                    font-size: 14px;
                    color: #5D8599;
                    font-style: italic;
                }
                hr {
                    display: block;
                    height: 1px;
                    border: 0;
                    border-top: 1px solid #5D8599;
                    margin: 0.5em 0;
                    padding: 0;
                }
                div.audio-container {
                    audio {
                        width: 100%;
                    }
                    p {
                        font-size: 0.7em;
                    }
                }
                div.doc {
                    background: url(/static/img/document.png);
                    background-color: #fcfcfc;
                    background-repeat: no-repeat;
                    min-height: 50px;
                    padding-left: 40px;
                    background-position: 3px 8px;
                    font-size: 0.9em;
                    padding-top: 8px;
                    box-shadow: 0px 1px 0px #ccc;
                    cursor: pointer;
                    a {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
            div.event {
                padding-top: 10px;
                span.event-icon {
                    float: left;
                    width: 70px;
                    height: 70px;
                    margin: 15px;
                    img {
                        width: 70px;
                        height: 70px;
                        border-radius: 50%;
                    }
                }
                span.event-data {
                    div.project {
                        padding-top: 15px;
                        font-size: 0.8em;
                        color: #ADBEC7;
                    }
                    div.title {
                        font-size: 1em;
                    }
                    div.date {
                        font-size: 0.9em;
                        color: #5D8599;
                        font-style: italic;
                    }
                }
                div.clear {
                    clear: both;
                    padding: 5px;
                }
            }
        }
    }

    div#lightbox {
        position: fixed;
        background: rgba(0,0,0,0.7);
        width: 100%;
        height: 100%;
        z-index: 1000;
        &.inactive {
            display: none;
        }
        div#media-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                max-height: 80vh;
                max-width: 80vw;
            }
            div#media {
                text-align: center;
                min-height: 50%;
            }
        }
        div#lightbox-controls {
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            span.prev-media {
                color: white;
                font-size: 4em;
                margin-left: 40px;
                margin-bottom: 15px;
                cursor: pointer;
            }
            div.center {
                margin-top: 20px;
                text-align: center;
                div.title {
                    color: white
                }
                span.media-dots {
                    color: white;
                    cursor: pointer;
                    span.media-dot {
                        margin-left: 10px;
                        &.selected {

                        }
                    }
                }
            }
            span.next-media {
                color: white;
                font-size: 4em;
                margin-right: 40px;
                margin-bottom: 15px;
                cursor: pointer;
            }

        }
    }
}
